
.features-container{
    width: 100%;
    height:auto;
    margin: auto;
}

.features-container .prod-comp{
   text-align: center;
   width: 70%;
   margin: auto;
}

.features-container .benefits{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

.inside-container{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.inside-container>div{
    width: 50%;
    height: 100%;
}

.inside-container img{
  margin: auto;

}


.features{
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(auto,1fr);
    align-items: center;
    justify-content: first baseline;
    gap: 25px 12px;
    margin-top: 25px;
    
}

.feature{
    padding: 12px 15px;
    font-size: larger;
    background-color: #ebecec;
    border-radius: 4px;
}

.feature span{
    margin: 0px 5px;
}

.feature:hover{
    background-color: rgb(203, 211, 219);
}

.see-all-feature{
    text-align: center;
   margin: 45px 0px;
}

.see-all-feature button{
    margin-bottom: 35px;
    padding: 12px 22px;
    font-size: larger;
    background-color: whitesmoke;
    border: 1px solid rgb(84, 84, 84);
    border-radius: 3px;
}

.see-all-feature button:hover{
    background-color: #ebecec;
    cursor: pointer;
}