

.fifth-content{
    width: 100%;
    background-color:#f5f5f5e1 ;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 35px;
    flex-wrap: wrap-reverse;
    padding: 25px 13px;
}

.fifth-content>div{
    width: 40%;
    
    box-sizing: border-box;
    padding: 35px 18px;
}

.btn{
    margin-bottom: 25px;
    padding: 10px 18px;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(84, 84, 84);
    border-radius: 3px;
}

.btn:hover{
    background-color: #ebecec;
    cursor: pointer;
}